<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="admins">Users</a>
<a href="voting">Voting</a>
<a th:href="@{/logout}" th:if="${user}" th:text="${user.name} + ': Logout'">Logout</a>
<h1>Welcome to lunchvote</h1>
<form action="login" method="post">
    <label>E-mail: </label> <input name="email"><br>
    <label>Password: </label> <input name="pass"><br>
    <input type="submit" value="Войти/регистрация">
</form>
</body>
</html>